.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Container {
  margin-top: 16px;
}

.App-input {
  width: 512px;
  height: 36px;
  border-radius: 0%;
  border: 1px gainsboro solid;
}

.App-button {
  width: 108px;
  height: 36px;
  margin-left: 16px;
  background-color: #282c34;
  border: none;
  color: white;
}
